.main_container {
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    padding: 20px 10px 60px 10px;
    background-color: rgba(219,98,28,0.5);
    min-height: 60vh;
}
.main_title {
    font-family: 'electroharmonix';
    color : #edd944;
    font-size: 60px;
    padding: 30px 0;
}
/* ARTICLE TEMP */
.article_temp {
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: rgba(46, 46, 46,0.8);
    text-decoration: none;
}

.article_temp:hover {
    animation: move 0.5s;
}
/* .article_temp:hover p {
    color: black;
} */
.article_temp .part1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#edd944 ;
    
}
.article_temp .part2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#edd944 ;
    padding: 0 10px;
    box-sizing: border-box;
    
}
.article_temp .part2 .title_article {
    font-size: 30px;
    font-family: "kaorigel.bold";
}
.article_temp .part2 .synopsis {
    font-style: italic;
    font-family: "kaorigel.medium";
}
.article_temp .part3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#edd944 ;
    
}
.part3_child {
    /* height: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.miniature {
    width: 100%;
    height: 200px;
}

.like_container {
    display: flex;
    align-items: center;
    padding: 5px;
}
.like_container img {
    width: 40px;
}
.link_dir {
    text-decoration: none;
    background-color: #edd944;
    color: rgb(46, 46, 46);
    padding: 10px;
    border-radius: 150px ;
}

.container_links {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container_links a {
    transition: 0.5s;
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #edd944;
    color: black;
    opacity: 0.7;
}
.container_links a:hover {
    opacity: 1;
}
.container_links a:first-child {
    border-radius: 20px 0 0 20px;
}
.container_links a:last-child {
    border-radius: 0 20px 20px 0;
}

.selected_link {
    background-color: #070707 !important;
    color: #edd944 !important;
}

/* ANIM */

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}

/* RESPONSIVE DESIGN */

@media screen and (max-width : 1050px) {
    
    .article_temp .part1  {
        width: 40%;
    }
    
}

@media screen and (max-width : 500px) {
    .main_title {
        font-size: 25px;
    }
    .article_temp .part2 .title_article {
        font-size: 15px;
    }
    .article_temp .part2 .synopsis {
        font-size: 12px;
    }
    .miniature {
        height: 100px;
    }
    .container_links a {
        font-size: 15px;
    }
}