* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: url("../../img/background.png");
}
h1 {
    font-family: sans-serif;
    color: rgb(255, 224, 45);
}
#main {
    background-color: rgba(34, 32, 32, 0.5);
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-family: "kaorigel.medium";
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #145bb7; 
}
nav a {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}
nav a:hover {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
}
#container {
    padding: 50px 5px;
}

/* SPECIAL CLASSES  */
.alert {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    font-style: italic;
}
.link {
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.green {
    background-color: rgb(50, 211, 117);
   
}
.borderGreen {
     border: 2px solid green;
}
.red {
    background-color: rgb(236, 93, 93);
}
.borderRed {
    border: 2px solid red;
}
.blue {
    background-color: rgb(61, 105, 228);
}
.orange {
    background-color: rgb(245, 162, 67);
    color: black;
}
.borderOrange {
    border: 2px solid rgb(199, 121, 57);
}
.brown {
    background-color: rgb(185, 109, 57);
    color: rgb(255, 221, 183);
}

/* ANIM */


@keyframes backgroundPop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spawn {
    from {
        transform: translateY(-500px);
    }
    To {
        transform: translateY(0);
    }
}

.anim_button {
    transform: rotate(90deg);
}

/* RESPONSIVE DESIGN */
#burger_button {
    display: none;
}
#button_resp {
    transition: 1s;
    display: inline;
    background: none;
    border: none;
    outline: none;
}
#burger_button img {
    width: 20px;
}
.ul {
    transition: 0.5s;
}

@media screen and (max-width : 500px) {
    .nav_toggle_init {
        transform: translateX(-100%);
    }
    .nav_toggle {
        transform: translateX(0)
    }
    #burger_button {
        display: block;
        padding: 0 10px ;
    }
    
    #container_links_nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(255, 153,0, 0.7);
    }
    #container_links_nav a {

        background-color: rgb(214, 111, 26);
        color: rgba(253, 182, 75, 0.7);
    }
    nav {
        justify-content: space-between;
    }
    nav a {
        font-size: 15px;
    }
    nav div:last-child a {
        font-size: 12px;
    }
}