* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}
#container_connection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container_form {
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(255, 223, 81);
}
#container_connection form {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 46, 46);
}
table {
    padding: 20px 0;
}
tr {
    height: 50px;
    margin: 20px 0;
}
#container_connection form label {
    margin: 0 10px;
    font-size: 20px;
    color: rgb(255, 223, 81);
    font-style: italic;
    text-decoration: underline;
}
input:not(#sub_button) {
    transition: 0.5s;
    font-size: 18px;
    background: none;
    border: 1px solid rgb(255, 223, 81) ;
    color:rgb(255, 223, 81) ;
    outline: none;
    padding: 5px;
}
#container_connection form input:not(#sub_button):focus {
    border-radius:10px 0px;
    border-width: 1px 1px 2px 1px;
}
input[type="submit"] {
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
    padding: 30px 0;
    border-radius: 10px 0px;
    background-color:rgb(255, 223, 81);
    font-size: 18px;
    border: none;
}
input[type="submit"]:hover {
    border-radius: 0 100px ;
    
}

/* ALERT */
#interface {
    display: flex;
    justify-content: center;
}

#container_alert {
    width: 50%;
    animation: spawn 0.7s;
    position: absolute;
}

@media screen and (max-width : 500px) {
    h1 {
        font-size: 20px;
    }
    input:not(#sub_button) {
        font-size: 12px;
    }
    #container_form {
        width: 95%;
    }
    table {
        width: 100%;
    }
    #container_connection form label {
        margin: 0;
        font-size: 13px;
        display: flex;
        justify-content: center;
    }
    input[type="submit"] {
        font-size: 14px;
        padding: 15px 0;
    }

}