
#container_table {
   overflow: auto;
}
#container_table table {
    width: 100%;
    overflow: auto;
}
table {
    border-collapse: collapse;
}
table tr {
    text-align: center;
    height: 40px;
}

table thead {
    background-color: #ff9900a9;
}
table thead tr {
    color: rgb(53, 51, 51);
}
table thead tr th {
    font-family: "kaorigel.bold";
}
table tbody :nth-child(2n):not(td) {
    background-color: rgba(218, 216, 216, 0.7);
}
table tbody tr {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
}
table tbody td{
    font-family: "kaorigel.medium";
    padding: 0 5px;
}
table tbody td .link{
    margin: 0 auto;
}
table tbody tr td img {
    width: 30px;
}

/* ANIM */

table tbody tr:hover {
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}

/* FORM */

input[type="text"] {
    background: none;
    border: none;
    text-align: center;
    font-family: "kaorigel.medium";
    outline: none;
    height: 100%;
   
}
input[type="text"]:not(.inputAllowed) {
     cursor: not-allowed;
}

select {
    background: none;
    border: none;
}
select option {
    background : none;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width : 500px) {
    #container {
        padding: 30px 5px;
    }
    #container_table  {
        width: 100%;
    }
    #container_table thead th {
        font-size: 11px;
    }
    #container_table tbody td {
        font-size: 10px;
        overflow: hidden;
        content: "test";
    }
    table tbody td .link {
        font-size: 10px;
    }
}